#mythumbhurts {
  background-color: #cfb0b0;
}

#numeroun {
  text-align: center;
  border-style: solid;
  border-color: #3f2727;
  color: #3f2727;
}

#numerodeux {
  text-align: center;
}

div {
  font-family: cursive;
  color: #3f2727;
  font-size: 120%;
}

table {
  width: 100%;
}

table, th, td {
  border-style: solid;
  border-color: #3f2727;
  border-collapse: collapse;
  border-width: 1px;
  padding: 10px;
}

.images {
  border: 15px solid #3f2727;
  padding: 20px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
